page-picture-preview {
    .content-md {
        background-color: transparent;
    }
    .box{
        margin : 50px;
    }
}
html, body, .ion-app, .ion-content, ion-app.md {
    background-color: transparent;
  }